.sf-spinner-animation {
  position: absolute;
  display: block;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sf-spinner{

}

.sf-label{
  font-size: 12pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #555555;
  display: block;
  margin-bottom: 0.25em;
}

.sf-required:after {
  content:" *";
  color: #d80009;
}



.sf-checkbox,
.sf-radio,
.sf-pulldown,
.sf-textfield{
  font-size: 11pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em;
}



.sf-checkbox{

}
.sf-checkbox-vertical .sf-checkbox-option{
  display: block;
}
.sf-checkbox-option{
  font-size: 12pt;
  color: #555555;
  margin-right: 1em;
}
.sf-checkbox-option-label{
  margin-left: 0.25em;
}

.sf-radio{
}
.sf-radio-vertical .sf-radio-option{
  display: block;
}
.sf-radio-option{
  font-size: 12pt;
  color: #555555;
  margin-right: 1em;
}
.sf-radio-option-label{
  margin-left: 0.25em;
}

.sf-pulldown{
}

.sf-pulldown-select{
  font-size: 12pt;
  height: 2em;
  color: #555555;
}


.sf-textfield{

}
.sf-textfield-input--------{
  font-size: 12pt;
  width: 100%;
  color: #555555;
}

.sf-button{
  color: #555555;
  padding: 0.25em 2em;
  font-size: 12pt;
}

.sf-error {
  color: #d80009;

}

.sf-table{
  width: 100%;
  color: #555555;
}

.sf-table TR{
  line-height: 1.5em;
}

.sf-tabs-label{
  /*border: 1px solid black;
  padding: 0.25em;*/
}
.sf-tabs-label.sf-selected{
  /*background-color: #6d9a77;*/
}

.sf-tabs-panel{
  display: none;
}

.sf-tabs-panel.active{
  display: block;
}

.sf-searchfield-options{
  margin-top: 0.2em;
  border: 1px solid  #aaaaaa;
  height: 10em;
  overflow-y: scroll;
}


.sf-datepicker TABLE{
}

.sf-datepicker THEAD{
  border-bottom: 1px solid #aaaaaa;
}

.sf-datepicker__month TH{
  line-height: 3em;
}

.sf-datepicker TH{
  text-align: center;
  height: 2em;
}

.sf-datepicker TD{
  width: 3em;
  height: 2em;
  text-align: center;
  cursor: pointer;
}

.sf-datepicker TD:hover{
  background-color: #337ab7;
  color: white;
}

.sf-datepicker .active{
  background-color: #aaaaaa;
}

.sf-datepicker .othermonth{
  opacity: 0.1;
}

.sf-datepicker .weekend{
  color: red;
}

.sf-datepicker__visible{
  position: relative;
  display: block;
}

.sf-datepicker__hidden{
  display: none;
}
